html,
body {
  min-height: 100vh;
  min-width: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/banner.min.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 576px) {
  .container {
    background-position-x: -200px;
  }

  h1 {
    position: absolute;
    top: 20vh;
  }
}

@media (max-width: 768px) {
  .container {
    background-position-x: -260px;
  }

  h1 {
    position: absolute;
    top: 20vh;
  }
}